
<form action="{{ url_for("gfg")}}" method="post">
<label for="input">Enter Glucose Level: </label>
<input type="text" id="input" name="Glucose" placeholder="Enter Here"><br><br>
<label for="input">Enter Pregnancies: </label>
<input type="text" id="input" name="Pregnancies" placeholder="Enter Here"><br><br>
<label for="input">Enter Blood Pressure: </label>
<input type="text" id="input" name="BP" placeholder="Enter Here"><br><br>
<label for="input">Enter Skin Thickness: </label>
<input type="text" id="input" name="Skin" placeholder="Enter Here"><br><br>
<label for="input">Enter Insulin Level: </label>
<input type="text" id="input" name="Insulin" placeholder="Enter Here"><br><br>
<label for="input">Enter BMI: </label>
<input type="text" id="input" name="BMI" placeholder="Enter Here"><br><br>
<label for="input">Enter Diabetes Pedigree Function: </label>
<input type="text" id="input" name="Diabetes" placeholder="Enter Here"><br><br>
<label for="input">Enter Your Age: </label>
<input type="text" id="input" name="Age" placeholder="Enter Here"><br><br>

<button type="submit">Submit</button>